<p>
  bind works!
</p>

<button (click)="doOnClick($event)">点我</button>
<!-- 下面两种写法是一样的，选一种你喜欢的就行 -->
<img [src]="imgUrl" alt="" height="100">
<img src="{{imgUrl}}" alt="" height="100">

<input type="text" value="Tom" (input)="doOnInput($event)">
<!--disabled属性不管设计什么值都会是禁止点击，但是可以通过设置dom属性来开启或禁止 -->
<button disabled>点我</button>

<table>
  <!-- td没有dom属性，插值其实是dom属性绑定，所以会报错 -->
  <!--<tr><td colspan="{{1+1}}">angular</td></tr>-->
  <tr><td [attr.colspan]="size">angular</td></tr>
</table>

<!--全部替换-->
<div [class]="divClass">hello</div>
<!--单一替换-->
<div class="a b" [class.c]="isC">123</div>
<!--多个类名替换-->
<div [ngClass]="moreClass">123</div>

<!--单一样式绑定-->
<div [style.color]="isDev?'blue':'red'">样式绑定</div>
<div [style.font-size.em]="isDev?2:1">样式绑定em</div>
<div [ngStyle]="divStyle">多样式绑定</div>

<!--双向数据绑定 既要实现属性绑定，也要实现事件绑定，为了简化，angular用ngModel-->
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
